{# templates/security/login.html.twig #}
{% extends 'base.html.twig' %}
{# ... #}
{% block body %}
    <h1>Autenticacion</h1>
 {% if error %}
 <div>Usuario o contraseña incorrecta</div>
 {% endif %}
 <form action="{{ path('app_login') }}" method="post">
 <label for="username">Email:</label>
 <input type="text" id="username" name="_username" value="{{ last_username }}"/><br>
 <label for="password">Password:</label>
 <input type="password" id="password" name="_password"/><br>
 <button type="submit">login</button>
 </form>
{% endblock %}