{# templates/security/login.html.twig #}
{% extends 'base.html.twig' %}
{# ... #}
{% block body %}

<div class="home-page">
    <header>
        <h1>CALM RESERVE</h1>
        <a href="#">Ofertas Especiales</a>
    </header>

    <div class="img-container">
        <img src={{asset("images/fondo.jpg")}} alt="Hotel Background">
        <div class="img-overlay">
            <h2>Bienvenido a CALM RESERVE</h2>
            <p>El mejor sistema para gestionar tus reservas de hotel de manera fácil y rápida.</p>
            <h1>REGISTRARSE</h1>
                <form action="{{ path('app_crear') }}" method="post">
                <label for="username">Email:</label>
                <input type="text" id="username" name="_username"/><br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="_password"/><br>
                <p><button type="submit"><a>Registrarse</a></button><button><a href="{{ path('app_login') }}">Volver</a></button></p>
            </form>
        </div>
    </div>

    <footer>
        © 2024 CALM RESERVE. Todos los derechos reservados.
    </footer>
</div> 
{% endblock %}