{% extends 'base.html.twig' %}

{% block body_class %}user-page{% endblock %}
{% block body %}

{% include 'header.html.twig' %}
    <div class="img-container">
        <img src={{asset("images/fondo.jpg")}} alt="Hotel Background">
        <div class="img-overlay">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <h2>Bienvenido, {{ app.user.email }}</h2>
        {% endif %}
            <p>CALM RESERVE</p>
            <p>El mejor sistema para gestionar tus reservas de hotel de manera fácil y rápida.</p>
        </div>
    </div>

    <footer>
        © 2024 CALM RESERVE. Todos los derechos reservados.
    </footer>
{% endblock %}
