{% extends 'base.html.twig' %}

{% block body_class %}user-page{% endblock %}

{% block body %}
<div class="user-page">
{% include 'header.html.twig' %}

<main class="review-container">
    <h2>Reseñas de Habitación</h2>
    {% for key, h in hotel %}
    <div class="room-description">
        <img src={{asset("images/room-example.jpg")}} alt="Habitación">
        <div class="description">
            <h3>Descripción del Hotel</h3>
            <p>{{h.descripcion}}</p>
        </div>
    </div>

    <h3>Deja tu Comentario y Valoración</h3>
    <form action="#" method="POST">
        <div class="form-group">
            <label for="comment">Comentario:</label>
            {% if h.comentario == null %}
            <textarea id="comment" name="comment" rows="4"></textarea>
            {% else %}
            <textarea id="comment" name="comment" rows="4">{{h.comentario}}</textarea>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="rating">Valoración:</label>
            <div class="stars">
                <input type="radio" id="star1" name="rating" value="1"><label for="star1">☆</label>
                <input type="radio" id="star2" name="rating" value="2"><label for="star2">☆</label>
                <input type="radio" id="star3" name="rating" value="3"><label for="star3">☆</label>
                <input type="radio" id="star4" name="rating" value="4"><label for="star4">☆</label>
                <input type="radio" id="star5" name="rating" value="5"><label for="star5">☆</label>
            </div>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn-primary">Enviar Reseña</button>
        </div>
    </form>
    {% endfor %}
</main>
</div>

<footer>
    Contacto: info@calmreserve.com | Tel: +123456789<br>
    Política de privacidad | Términos y condiciones
</footer>
{% endblock %}
