<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8">
 <title>{% block title %}Titulo{% endblock %}</title>
 <link rel="stylesheet" href="{{ asset('css/styles.css') }}">

 {% block stylesheet %}
 {% endblock %}
 
</head>
<body>
 {% block body %}{% endblock %}
</body>
</html>

