
{% block header %}

<div>
    <header>
        <h1>CALM RESERVE</h1>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <p>Email: {{ app.user.email }}</p>
        {% endif %}
        <nav>
            <a href="#">Consultar disponibilidad</a>
            <a href="#">Reservar una habitaci칩n</a>
            <a href="#">Cancelar Reserva</a>
            <a href="#">Rese침a de habitaci칩n</a>
            <a href="#">Administrar perfil</a>
            <a href="#">Cerrar Sesi칩n</a>
        </nav>
    </header>
</div>
{% endblock %}
